// Define XCODE_BUILD_TYPE env variable as "debug" or "release" to control build type
// Define XCODE_DISTRIBUTION env variable as "development" or "appstore" to control profile

BUILD_TYPE_debug = debug
BUILD_TYPE_release = release
BUILD_TYPE_ = $(BUILD_TYPE_debug) // If XCODE_BUILD_TYPE is not set we'll fallback to debug
BUILD_TYPE = $(BUILD_TYPE_$(XCODE_BUILD_TYPE))

CODE_SIGN_IDENTITY_development = Apple Development
CODE_SIGN_IDENTITY_appstore = Apple Distribution
CODE_SIGN_IDENTITY_debug = Apple Development // Automatic signing
CODE_SIGN_IDENTITY_release = $(CODE_SIGN_IDENTITY_$(XCODE_DISTRIBUTION))
CODE_SIGN_IDENTITY = $(CODE_SIGN_IDENTITY_$(BUILD_TYPE))

CODE_SIGN_STYLE_debug = Automatic
CODE_SIGN_STYLE_release = Manual
CODE_SIGN_STYLE = $(CODE_SIGN_STYLE_$(BUILD_TYPE))

PROVISIONING_PROFILE_SPECIFIER_debug = // Automatic signing
PROVISIONING_PROFILE_SPECIFIER_release = $(sigh_$(PRODUCT_BUNDLE_IDENTIFIER)_$(XCODE_DISTRIBUTION)_profile-name)
PROVISIONING_PROFILE_SPECIFIER = $(PROVISIONING_PROFILE_SPECIFIER_$(BUILD_TYPE))

ONLY_ACTIVE_ARCH_debug = YES
ONLY_ACTIVE_ARCH_release = NO
ONLY_ACTIVE_ARCH = $(ONLY_ACTIVE_ARCH_$(BUILD_TYPE))

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

ENABLE_TESTABILITY_debug = YES
ENABLE_TESTABILITY_release = NO
ENABLE_TESTABILITY = $(ENABLE_TESTABILITY_$(BUILD_TYPE))

VALIDATE_PRODUCT_debug = NO
VALIDATE_PRODUCT_release = YES
VALIDATE_PRODUCT = $(VALIDATE_PRODUCT_$(BUILD_TYPE))

GCC_OPTIMIZATION_LEVEL_debug = 0
GCC_OPTIMIZATION_LEVEL_release = s
GCC_OPTIMIZATION_LEVEL = $(GCC_OPTIMIZATION_LEVEL_$(BUILD_TYPE))

ENABLE_NS_ASSERTIONS_debug = YES
ENABLE_NS_ASSERTIONS_release = NO
ENABLE_NS_ASSERTIONS = $(ENABLE_NS_ASSERTIONS_$(BUILD_TYPE))

GCC_PREPROCESSOR_DEFINITIONS_debug = DEBUG=1 $(inherited)
GCC_PREPROCESSOR_DEFINITIONS_release = $(inherited)
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_$(BUILD_TYPE))

SWIFT_COMPILATION_MODE_debug = singlefile
SWIFT_COMPILATION_MODE_release = wholemodule
SWIFT_COMPILATION_MODE = $(SWIFT_COMPILATION_MODE_$(BUILD_TYPE))

SWIFT_OPTIMIZATION_LEVEL_debug = -Onone
SWIFT_OPTIMIZATION_LEVEL_release = -O
SWIFT_OPTIMIZATION_LEVEL = $(SWIFT_OPTIMIZATION_LEVEL_$(BUILD_TYPE))

SWIFT_ACTIVE_COMPILATION_CONDITIONS_debug = DEBUG
SWIFT_ACTIVE_COMPILATION_CONDITIONS_release =
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(SWIFT_ACTIVE_COMPILATION_CONDITIONS_$(BUILD_TYPE))

MTL_ENABLE_DEBUG_INFO_debug = INCLUDE_SOURCE
MTL_ENABLE_DEBUG_INFO_release = NO
MTL_ENABLE_DEBUG_INFO = $(MTL_ENABLE_DEBUG_INFO_$(BUILD_TYPE))
